ecdd.sublime-project
ecdd.sublime-workspace

ftpsync.settings

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# =========================
# Operating System Files
# =========================

# Thumbnails
._*

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db
