$bg-color-ca-default: $ecdd-mono-one !default;
$bg-color-ca-small: #455A64 !default;

.call-action {
  background-color: $bg-color-ca-default;
  margin-top: 32px;
  position: relative;
  padding: 40px 0 20px 0;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &--small {
    background-color: $bg-color-ca-small;
    padding: 32px 0;
    @include desktop {
      padding: 32px 0 8px 0;
    }
  }

  &--eventos {
    padding: 40px 0;
  }

  &__header {
    margin-bottom: 16px;
    position: relative;
  }

  &__title {
    font-family: $call-actions-title-font;
    font-size: 1.875em;
    color: $white;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
    @include tablet {
      font-size: 3.375em;
    }

    &--financiamentos {
      color: #2b5056;
    }

    &--small {
      font-size: 1.5em;
    }
  }

  &__subtitle {
    font-family: $call-actions-subtitle-font;
    font-size: 1.125em;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
  }

  &__content {
    color: $white;

    &--financiamentos {
      color: #2b5056;
    }

    &--eventos {
      .btn-primary {
        margin-top: 16px;
      }
    }

    &--small {
      font-size: .95em;
      padding-bottom: 8px;
    }

    label {
      margin-top: 16px;
      color: $white;
    }

    &__dl {

    }

    &__dt {
      font-weight: bold;
      font-size: 1.3em;
      margin-bottom: 8px;
    }

    &__dd {
      padding-bottom: 16px;
      margin-bottom: 32px;
      border-bottom: 1px solid $ecdd-mono-five;
      font-size: 1.063em;
      line-height: 27px;
      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list {

    &__item {
      margin-bottom: 16px;
    }
  }

  &__btn {
    &--studentship {
      @include tablet {
        width: 100%;
        margin: 45px auto 0 auto;
      }

      @include desktop {
        width: 50%;
        font-size: 1.25em;
      }
      &:hover {
        color: $bg-color-ca-small;
      }
    }
  }

  &__form {

    &__input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $white;
      padding: 8px 0;
      width: 100%;
      font-size: 1em;
      color: $white;
      font-weight: 300;
      &::placeholder {
        color: rgba(255,255,255, .67);
        font-size: .85em;
      }
      &:hover{
        border-color: $ecdd-mono-three;
      }
      &:focus {
        border-color: $ecdd-mono-five;
      }
    }
    &__button {
      width: 34%;
      margin: 8px auto;
      outline: none;

      @include desktop {
        margin: 8px 0;
      }

      &:hover,
      &:focus {
        color: $ecdd-mono-one;
      }
    }
  }

  .rocket-position {
    display: block;
    width: 500px;
    height: 500px;
    top: -70px;
    position: absolute;
  }
}
