.head {
  padding-top: 32px;
  width: 100%;
  @include desktop {
    padding-top: 0;
  }

  .logo {
    display: inline-block;
    width: 180px;

    @include tablet {
      width: 253px;
      //height: 80px;
    }

    @include desktop {
      width: 281px;
      //height: 80px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .main-menu {
    display: inline-block;
    float: right;
    @include desktop {
      display: inline-block;
      float: right;
      margin-top: 29px;
      //vertical-align: text-top;
    }

    @include large-desktop {
      padding-left: 34px;
    }

    & > button {
      width: 32px;
      height: 32px;
      display: block;
      border: 0;
      padding: 0;
      margin: 6px 0;
      background: url('assets/img/icons/ic_menu_white_36px.svg') no-repeat center center;
      background-size: cover;
      span {
        display: none;
      }
    }

    &__list {
      list-style: none;
      padding-left: 0;

      & > .menu-item {
        display: inline-block;
        text-transform: uppercase;

        &.current-menu-item a {
          //background: rgba(0,0,0, .1);
          &.hvr-underline-from-left{
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 0;
              right: 0;
              bottom: 0;
              background: #fff;
              height: 2px;
            }
          }
        }

        a {
          color: $white;
          text-decoration: none;
          padding: 8px;
          display: block;
          transition: .3s ease-in-out;
          font-weight: 500;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, .87);

          &:hover {
            //background: rgba(0,0,0, .25);
          }
        }
      }
    }
  }
}

.main-menu-mobile {
  background: $ecdd-mono-one;
  display: none;
  &__list {
    list-style: none;
    padding: 16px 0;
    margin: 0;

    .menu-item {
      border-bottom: 1px solid $ecdd-mono-two;
      font-size: .875em;
      &:last-child{
        border-bottom: none;
      }
      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 16px;
        display: block;

        &:hover {
          background-color: $ecdd-mono-four;
          text-shadow: 0 1px 1px $ecdd-mono-three;
        }
      }
    }
  }
}
