.header {
  position: relative;
  height: 453px;
  overflow: hidden;

  @include tablet {
    height: 726px;
  }

  @include desktop {
    height: 830px;
  }

  &--internal {
    height: 135px;
    @include tablet {
      height: 135px;
    }
    @include desktop {
      height: 217px;
    }
  }

  .header-content,
  .header-background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .header-content {
    z-index: 0;
    & > div,
    & > div > div,
    & > div > div > div {
      height: inherit;
    }
  }

  .header-background {
    z-index: -1;
  }
}
