@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mid-tablet {
  @media (min-width: #{$mid-tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

/* Colors */
@mixin gradient($left: #000, $right: #000) {
  background: $left; /* Old browsers */
  background: -webkit-linear-gradient(bottom left, $left 0%, $right 100%);
  background: -o-linear-gradient(bottom left, $left 0%, $right 100%);
  background: linear-gradient(to top right, $left 0%, $right 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $left , endColorstr= $right ,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
