$anim-speed: 0.3s;

.students-works {
  //margin-top: 16px;
  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    //padding-top: 48px;
    //margin-right: -15px;
    //margin-left: -15px;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  &__header {
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 0px;
    }
  }

  &__title {
    font-family: $headings-font;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: $gray;
    display: inline-block;

    @include tablet {
      font-size: 1.5em;
      //color: $white;
    }

    @include desktop {
      font-size: 1.5em;
    }

    &:before{
      content: "";
      height: 1px;
      width: 30%;
      background-color: $gray;
      display: block;
      margin-bottom: 8px;

      @include tablet {
        //background-color: $white;
      }
    }
  }

  &__menu {
    @include tablet {
      float: right;
      margin-top: 22px;
      margin-bottom: 11px;
    }
    &__list {
      list-style: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      font-size: .75em;

      @include tablet {
        margin-top: 10px;
        font-size: .75em;
      }
      @include desktop {
        font-size: .8125em;
      }
    }
    &__item,
    &__item-current {
      display: inline-block;
      padding: 5px 8px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & > a {
        color: $gray;

        @include tablet {
          color: $white;
        }
      }
    }
    &__item-current {
      font-weight: 600;
      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 4px auto;
        background-color: $ecdd-mono-one;
      }
    }
  }

  &__content {
    text-align: left;
    font-size: 0.1px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    &__item {
      width: calc(99.9%/3);
      display: inline-block;

      & > div {
        height: inherit;
      }

      @include tablet {
        overflow: hidden;

        /*&.nth-1{
          width: calc(99.9%/4);
          height: 123.79px;
        }
        &.nth-2{
         width: calc(99.9%/2);
         height: 202.73px;
        }
        &.nth-3{
         width: calc(99.9%/4);
         height: 202.74px;
        }
        &.nth-4{
          width: calc(99.9%/4);
          height: 202.74px;
          margin-top: -79px
        }
        &.nth-5{
         width: calc(99.9%/2.666);
         height: 123.79px;
        }
        &.nth-6{
         width: calc(99.9%/2.666);
         height: 123.79px;
        }*/
      }

      @include desktop {

        /*&.nth-1{
          width: calc(99.9%/4);
          height: 161.61px;
        }
        &.nth-2{
         width: calc(99.9%/2);
         height: 264.68px;
        }
        &.nth-3{
         width: calc(99.9%/4);
         height: 264.68px;
        }
        &.nth-4{
          width: calc(99.9%/4);
          height: 264.68px;
          margin-top: -103px;
        }
        &.nth-5{
         width: calc(99.9%/2.666);
         height: 161.61px;
        }
        &.nth-6{
         width: calc(99.9%/2.666);
         height: 161.61px;
        }*/
      }

      @include large-desktop {
        /*&.nth-1{
          height: 196px;
        }
        &.nth-2{
         height: 321px;
        }
        &.nth-3{
         height: 321px;
        }
        &.nth-4{
          height: 321px;
          margin-top: -125px
        }
        &.nth-5{
         height: 196px;
        }
        &.nth-6{
         height: 196px;
        }*/
      }

      & img {
        width: 100%;
        height: auto;
        @include tablet {
          height: 100%;
        }
      }
    }

    a {
      display: inline-block;
      text-align: left;
      opacity: .99;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
      &:before {
        content: '';
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
        width: 100%;
        height: 50%;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        transition-property: top, opacity;
        transition-duration: $anim-speed;
      }

      &:focus,
      &:hover {
        img {
          -webkit-filter: saturate(1);
          filter: saturate(1);
          transform: scale(1.1);
          transition: all .5s;
        }

        &:before,
        span {
          opacity: 1;
        }

        &:before {
          top: 50%;
        }

        span {
          top: 0;
        }

        .title {
          transition-delay: 0.15s;
        }

        .category {
          transition-delay: 0.25s;
        }
      }

      img {
        display: block;
        max-width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: all .5s;
      }
    }

    .details {
      font-size: 16px;
      padding: 20px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      span {
        display: block;
        opacity: 0;
        position: relative;
        top: 100px;
        transition-property: top, opacity;
        transition-duration: $anim-speed;
        transition-delay: 0s;
      }
      .title{
        line-height: 1;
        font-weight: 600;
        font-size: 18px;
      }
      .category{
        line-height: 1.2;
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }

  .mix,
  .gap {
    display: inline-block;
    vertical-align: top;
  }

  .mix {
    background: #fff;
    position: relative;
  }

  .mix:before {
    content: '';
    display: inline-block;
  }

  /*@include tablet {
    margin-top: -228px;
  }*/

}
