
h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font;
}

p {
    font-family: $content-font;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}
