// Fonts
$headings-font: 'Raleway', sans-serif;
$content-font: 'Raleway', sans-serif;
$call-actions-heading-font: 'proxima_nova_rgbold';
$banner-heading-font: 'proxima_nova_rgbold';

// Colors
$black: rgba(0,0,0, .87);
$white: rgba(255,255,255, .87);
